---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

header.masthead {
    
    .page-heading { 
        padding-bottom: 100px;
    }
    .overlay {
        background-color: #002222;
        background: rgba(0,43,54,0.85);
        opacity: 0.8;
    }
}

#header {
    
    text-align: left;
        

    .subheading {
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 400;
    }
        
    ul {
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        list-style-type: none;
        margin: 10px 0 0;
        
    }

    li {
        text-align: left;
    }

    ul > li::before {
        content: "— ";
        text-indent: 1em;
    }

    a.side-nav {
        color: #ededed;
    }

    .quick-start {
        margin-top: 30px;
        background-color: #ffffffc4;
    }

    .quick-start:hover {
        background-color: #6c757d;
    }
}
